_freeze/

/.quarto/
docs/
.venv/
/.idea/
/.vscode/
/.obsidian/
/index_files/
/test/

# Ignore Mac DS_Store files
.DS_Store
**/.DS_Store

# Ignore Manim generated outputs inside manim/ folder
manim/media/
manim/__pycache__/
manim/*.log
manim/*.mp4
manim/*.gif
manim/*.webm


